@use 'variables' as *;

.card {
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;
    perspective: 1000px;

    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    &.flipped .card-inner {
        transform: rotateY(180deg);
    }

    &.matched {
        pointer-events: none;
    }

    &-front,
    &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 3rem;

        @media (max-width: 600px) {
            font-size: 2rem;
        }
    }

    &-front {
        background: $card-back-bg;
        color: $text-color-light;
        font-weight: bold;
    }

    &-back {
        background: white;
        transform: rotateY(180deg);
        box-shadow: inset 0 0 10px $shadow-light;
    }

    &:not(.flipped):not(.matched):hover .card-front {
        background: $card-back-bg;
        transform: scale(1.05);
    }
}
