@use 'variables' as *;

.card {
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;
    perspective: 1000px;

    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    &.flipped .card-inner {
        transform: rotateY(180deg);
    }

    &.matched {
        pointer-events: none;
    }

    &-front,
    &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px; 
        font-size: 3.5rem; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

        @media (max-width: 600px) {
            font-size: 2.5rem;
        }
    }

    &-front {
        background: $card-back-bg;
        color: $text-color-light;
        font-weight: bold;
        border: 2px solid rgba($text-color-light, 0.1);
    }

    &-back {
        background: $text-color-light;
        transform: rotateY(180deg);
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
        border: 2px solid $text-color-light;
    }

    &:not(.flipped):not(.matched):hover .card-front {
        background: lighten($card-back-bg, 5%);
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        border-color: $primary-color;
    }
}
